*.exe
/cpp/.vscode
/.vscode
/latex/informe_latex/.aux
/latex/informe_latex/.bbl
/latex/informe_latex/.blg
/latex/informe_latex/.log
/latex/informe_latex/.out
/latex/informe_latex/.synctex

/latex/presentacion_latex/.aux
/latex/presentacion_latex/.bbl
/latex/presentacion_latex/.blg
/latex/presentacion_latex/.log
/latex/presentacion_latex/.nav
/latex/presentacion_latex/.out
/latex/presentacion_latex/.snm
/latex/presentacion_latex/.synctex
/graph/*.dot
